@media (min-width: 1200px) {
  .card {
    height: 446px;
    width: 1110px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .image {
    background-size: cover;
    height: 446px;
    width: 540px;
  }
  .card-content {
    /* margin: 61px 10px; */
    justify-content: center;
    margin-left: 70px;
    margin-top: 60px;
  }

  h1 {
    font-size: 36px;
    line-height: 44px;
    margin-top: -29px;
    text-align: left;
    width: 403px;
  }
  h2 {
    margin-top: 24px;
    width: 374px;
    text-align: left;
  }
  .numbers {
    display: flex;
    gap: 70px;
    text-align: left;
    flex-direction: row;
    gap: 62px;
  }
  .name {
    color: var(--clr-stat-headings);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 25px;
    margin-top: -2px;
  }

  .number {
    font-size: 24px;
    margin-top: 37px;
  }

  .number:nth-of-type(3) {
    margin-top: 21px;
  }

  .number:nth-of-type(5) {
    margin-top: 21px;
  }

  .highlighted {
    color: var(--clr-accent);
  }
  .image {
    background-image: linear-gradient(
        rgba(107, 0, 173, 0.5) 100%,
        rgba(0, 0, 0, 0.1) 100%
      ),
      url("./images/image-header-desktop.jpg");
  }
}
