:root {
  /* ==================== Colors ==================== */
  --clr-main-background: #090b1a;
  --clr-card-background: #1b1938;
  --clr-accent: #aa5cdb;

  --clr-main-heading-stats: #ffffff;
  --clr-main-paragraph: #ffffffbf;
  --clr-stat-headings: #ffffff99;

  /* ==================== Fonts ==================== */
  --ff-inter: "Inter", sans-serif;
  --ff-lexend-deca: "Lexend Deca", sans-serif;

  --fs-12: 0.75rem;
  --fs-15: 0.938rem;
  --fs-24: 1.375rem;
  --fs-28: 1.75rem;
}

/* ==================== General styling ==================== */
body {
  background-color: var(--clr-main-background);
  display: grid;
  place-content: center;
}

/* ==================== Main ==================== */
.card {
  background-color: var(--clr-card-background);
  border-radius: 8px;
  color: var(--clr-main-heading-stats);
  font-family: var(--ff-inter);
  font-weight: 700;
  height: 780px;
  overflow: hidden;
  width: 327px;
}

.card-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 32px;
}

/* ==================== Image ==================== */
.image {
  height: 240px;
  background-image: linear-gradient(
      rgba(107, 0, 173, 0.5) 100%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    url("./images/image-header-mobile.jpg");
  background-size: contain;
}

/* ==================== Text ==================== */
h1 {
  font-size: var(--fs-28);
  line-height: 32px;
  margin-top: 8px;
}

h2 {
  color: var(--clr-main-paragraph);
  font-weight: 400;
  font-size: var(--fs-15);
  line-height: 25px;
  margin-top: 16px;
}

.name {
  color: var(--clr-stat-headings);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 25px;
  margin-top: -2px;
}

.number {
  font-size: 24px;
}

.highlighted {
  color: var(--clr-accent);
}

.numbers {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-top: 36px;
}
